In [1]:
import graphlab as gl

A newer version of GraphLab Create (v1.10.1) is available! Your current version is v1.9.

You can use pip to upgrade the graphlab-create package. For more information see https://dato.com/products/create/upgrade.

In [2]:
# train_df = gl.SFrame.read_csv('./train.csv')

This non-commercial license of GraphLab Create is assigned to nh736060@dal.ca and will expire on April 06, 2017. For commercial licensing options, visit https://dato.com/buy/.

2016-06-10 23:47:38,327 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1465613256.log

Finished parsing file /Users/nehiljain/code/personal/expedia_kaggle/train.csv

Parsing completed. Parsed 100 lines in 1.43087 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,int,int,int,int,int,float,int,int,int,int,str,str,int,int,int,int,int,int,int,int,int,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 485475 lines. Lines per second: 221888

Read 2912093 lines. Lines per second: 398107

Read 4853100 lines. Lines per second: 393487

Read 7278890 lines. Lines per second: 395319

Read 9705333 lines. Lines per second: 405964

Read 12132150 lines. Lines per second: 411279

Read 14558745 lines. Lines per second: 420752

Read 16984947 lines. Lines per second: 424118

Read 19409855 lines. Lines per second: 429584

Read 21835498 lines. Lines per second: 429100

Read 23776992 lines. Lines per second: 417902

Read 25718950 lines. Lines per second: 406850

Read 27660092 lines. Lines per second: 403673

Read 30085616 lines. Lines per second: 405848

Read 32025242 lines. Lines per second: 404142

Read 34450520 lines. Lines per second: 408574

Read 36875830 lines. Lines per second: 409720

Finished parsing file /Users/nehiljain/code/personal/expedia_kaggle/train.csv

Parsing completed. Parsed 37670293 lines in 91.9516 secs.

In [4]:
train_df = gl.load_sframe('./gl_train_data')

2016-06-11 18:45:56,022 [INFO] graphlab.cython.cy_server, 176: GraphLab Create v1.9 started. Logging: /tmp/graphlab_server_1465681553.log

This non-commercial license of GraphLab Create is assigned to nh736060@dal.ca and will expire on April 06, 2017. For commercial licensing options, visit https://dato.com/buy/.

In [4]:
# train_df.show()

Canvas is accessible via web browser at the URL: http://localhost:56220/index.html
Opening Canvas in default web browser.

In [5]:
import feather

In [6]:
user_ids = feather.read_dataframe('./sample_user_id.feather')

In [7]:
user_ids.shape

(10000, 1)

In [8]:
#NOTE: time consuming
sub_train_df = train_df.filter_by(user_ids['sample_user_id'], 'user_id')

In [11]:
sub_train_df.shape
sub_train_df = sub_train_df.to_dataframe()

In [13]:
feather.write_dataframe(sub_train_df, './sub_train_df.feather')

In [9]:
sub_train_df.shape

(316114, 24)

In [16]:
sub_train_df.to_csv('./sub_train_df.csv')

In [17]:
sub_train_df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2013-01-24 14:33:29,2,3,66,174,50038,NaN,46267,0,0,...,0,1,12486,5,0,1,2,50,711,10
1,2013-01-24 14:34:45,2,3,66,174,50038,NaN,46267,0,0,...,0,1,12486,5,0,3,2,50,711,10
2,2013-01-24 14:38:41,2,3,66,174,50038,NaN,46267,0,0,...,0,1,12486,5,0,1,2,50,711,10
3,2013-01-24 15:03:58,2,3,66,174,50038,NaN,46267,0,0,...,1,1,8214,1,0,4,2,50,649,77
4,2013-01-24 15:09:17,2,3,66,174,50038,NaN,46267,0,0,...,1,1,8214,1,0,2,2,50,649,50

In [20]:
import graphlab.aggregate as agg
train_df.groupby(key_columns='hotel_cluster', operations={'count':agg.COUNT()})

Columns:
	hotel_cluster	int
	count	int

Rows: 100

Data:
+---------------+--------+
| hotel_cluster | count  |
+---------------+--------+
|       49      | 240124 |
|       13      | 335978 |
|       60      | 217919 |
|       36      | 426407 |
|       24      | 164127 |
|       2       | 434519 |
|       71      | 216054 |
|       46      | 534038 |
|       79      | 287001 |
|       30      | 489287 |
+---------------+--------+
[100 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.